<br>
<div class="wrap">
<br>
<input class="search" type="text" name="" placeholder="cari">

<h2 style="color: white; margin-left: 30%;"><b>Paling Sering Dicari</b></h2>
<div class="row">
<div class="column side left">
<img src="assets/3.png" id="thumbnailkonten">
</div>
<div class="column middle">
	<p class="judulkonten">
		Harry Potter
	</p>
	<p class="konten">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus proin nibh nisl condimentum id venenatis a condimentum. Sit amet luctus venenatis lectus magna fringilla urna porttitor. Morbi tincidunt augue interdum velit euismod in pellentesque. Neque convallis a cras semper.
	</p>	
</div>
</div>
<div class="row">
<div class="column side left">
<img src="assets/2.png" id="thumbnailkonten">
</div>
<div class="column middle">
	<p class="judulkonten">
		Harry Potter
	</p>
	<p class="konten">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus proin nibh nisl condimentum id venenatis a condimentum. Sit amet luctus venenatis lectus magna fringilla urna porttitor. Morbi tincidunt augue interdum velit euismod in pellentesque. Neque convallis a cras semper.
	</p>	
</div>
</div>
<div class="row">
<div class="column side left">
<img src="assets/1.jpg" id="thumbnailkonten">
</div>
<div class="column middle">
	<p class="judulkonten">
		Harry Potter
	</p>
	<p class="konten">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus proin nibh nisl condimentum id venenatis a condimentum. Sit amet luctus venenatis lectus magna fringilla urna porttitor. Morbi tincidunt augue interdum velit euismod in pellentesque. Neque convallis a cras semper.
	</p>	
</div>
</div>
</div>